@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&family=Luckiest+Guy&family=Major+Mono+Display&family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}
.background-main{
    background: linear-gradient(to bottom right,#009cda,#42b032,#fcd000,20%,#e61802,#e61802,#e61802);
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.hero header .logo img{
    height: auto;
    width: 100px;
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
nav ul li.active a{
    border-bottom: 2px solid white;
}
nav ul li.btn a{
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}
nav ul li.btn:hover a{
    border: 1px solid white;
    color: black;
    background: white;
    transition: .4s;
}
.content{
    padding-top: 80px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}
.content .main-text h1{
    font-size: 65px;
    line-height: 1;
    color: white;
    margin: 0px 0px 45px;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Bangers', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Luckiest Guy', cursive; */
    /* font-family: 'Major Mono Display', monospace; */
    font-family: 'Press Start 2P', cursive;
}
.content .main-text h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.content .main-text a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Press Start 2P', cursive;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #ffffff;
    background: transparent;
    color: white;
    transition: .4s;
}
.content .main-text a.cta{
    border: 1px solid #ffffff;
    color: white;
    background: transparent;
    margin-left: 20px;
}
.content .main-text a.cta i{
    margin-right: 12px;
}
.content .main-text a.cta:hover{
    color: black;
    background: white;
    border: 1px solid white;
    transition: .4s;
}
.content .main-footer{
    position: relative;
    z-index: 2;
    margin-top: 100px;
    padding-bottom: 10px;
}
.content .main-footer a{
    display: inline-block;
    color: #ffffff;
    margin-right: 25px;
    font-size: 24px;
}
.content .main-footer a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: white;
}

.image{
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: 0;
    right: 0;
    text-align: right;
}
.image img{
    height: 90%;
}

.char-item{
    margin: 30px;
}
.char-item-title{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.char-item-image{
    height: 200px;
}
.char-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}
.char-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button-char{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 55px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 500;
}
.button-char:hover{
    transform: scale(1.2);
    border: 1px solid #ffffff;
    background: transparent;
    color: white;
    transition: .4s;
}
.gallery-image{
    height: 250px;
    border-radius: 10%;
}